!!!
%html
  %head
    #{render 'layouts/styles'}
    = csrf_meta_tags
    %title
      #{title}

  %body
    .container
      #{render 'layouts/header'}

      %section.round
        = yield

      #{render 'layouts/footer'}







